{% extends 'base.html.twig' %}

{% block title %}série{% endblock %}
{% block body %}
<h1>vos {{nbSeries}} series favori</h1>

<div class="container text-center">
  <div class="row">
    <div class="col" style="
    display: flex;
    flex-wrap: wrap;
">
      {% for serie in LesSeries %}
      <div class="p-3 border bg-light" style="display: flex;flex-flow: ;width: 400px;margin: auto;margin-top: 10px;">
        <div class="card-body">
          <img src={{serie.image}} class="d-block w-100" >
          <h1> {{ serie.titre }} </h1>
          <p> {{ serie.duree }} </p>
          <p> {{ serie.premiereDiffusion| date("d/m/y") }} </p>
          <p> {{ serie.resume }} </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}